.main h1 {
  margin-top: 64px;
  margin-bottom: 16px;
  /* margin-left: px; */
}

li {
  margin-top: 16px;
  margin-bottom: 16px;
}

.main h2 {
  margin-bottom: 40px;
}

.main h3 {
  margin-top: 16px;
  margin-bottom: 14px;
}
/* .introduccion {
  margin-bottom: 64px;
} */

hr {
  margin-top: 64px;
  margin-bottom: 97px;
}

.setup p {
  margin-bottom: 40px;
}

.conceptos-esenciales img {
  margin-bottom: 40px;
}

.parrafo {
  margin-bottom: 40px;
}

.conceptos-esenciales p {
  margin-top: 16px;
}
