:root {
  font-size: 16px;
  --black: #000000;
  --black10: #212429;
  --gray: #212121;
  --gray10: #616161;
  --white: #ffffff;
}

body {
  background-color: var(--white);
  color: var(--gray);
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}
